<head>
	<style>
		p.cvhead{
			-moz-box-flex:1.0; /* Firefox */
			-webkit-box-flex:1.0; /* Safari and Chrome */
			box-flex:1.0;
			padding:0px;
			margin:0px;
			font-style:italic;
		}
		div.cvhead{
			display:-moz-box; /* Firefox */
			display:-webkit-box; /* Safari and Chrome */
			display:box;
			width:98vw;
			padding:0px;
			margin:0px;
		}
		.title1{
			font-size:120%;
			padding:0px;
			margin:0px;
			text-decoration:underline;
			color:blue;

		}
		.item_none{
			font-size:100%;
			margin:2px;
			list-style-type:none;
		}
		.item1{
			font-size:100%;
			color:black;
			list-style-type:square;
			margin:2px;
		}
		.item2{
			font-size:100%;
			color:black;
			list-style-type:disc;
		}
		.item3{
			font-size:100%;
			color:black;
			list-style-type:circle;
		}
	</style>
</head>
<body>
	<!--
	<div class="cvhead">
		<p class="cvhead">Curriculum Vitae</p>
		<p class="cvhead" align="center">Name: <strong>Liu Zhiyu</strong></p>
		<p class="cvhead" align="right">Email: l_zhiyu@outlook.com</p>
	</div>
	-->
	
	<hr>
	
	<p class="title1">EDUCATION</p>
	<ul class="item1">
		<li><i>September/2017 to May/2021:</i><span> <strong>University of Toronto St. George</strong></li>
		<ul class="item2">
			<li>Degree and Program: Bachelor of Math &Statistics Major Program</li>
			<li>Average Score / GPA: 2.88/4.0, Math Course GPA: 3.21/4.0</li>
			<li>Relevant Courses: Advanced Calculus with proofs, Linear Algebra II, Groups and Symmetries, 
				Polynomial Equations and Fields,Intro to ODE, Abstract mathematics, 
				Complex Variables, Intro to Combinatorics, Data analysis and Designation of Surveys, Intro to
				Computer programming.
			</li>
		</ul>
	</ul>
	
	<p class="title1">RESEARCH EXPERIENCE</p>
	<ul class="item1">
		<li><strong>Research:</strong> <i>September/2020:</i> <strong>Frontier Research of Applied Mathematics</strong></li>
		<ul class="item2">
			<li>
				<strong>Research Objective:</strong> The research tries to study Cartesian coordinates and polar coordinates, 
				parameters and logarithms of complex numbers, differentiable functions, Cauchy Riemann equation, 
				power series, Cauchy theorem, Cauchy integral formula, etc
			</li>
			<li>
				<strong>Research Steps:</strong>
				The research involves a pre-learn of basic complex variables, lectures conducted by the professor 
				talking about CR equations, Complex power series and their behaviors of convergence, Mentor Sessions, forming groups and solving the
				problems and giving a final presentation.
			</li>
			<li>
				<strong>Achievements:</strong> Precious research experience. It does not only provide me with a deeper understanding of knowledge in Complex
				Variables analysis, but also the experience prepared me for future harder research programs. My abilities was enforced when I
				trained myself to allocate my team (allocating the distributions for each homework, scheduling team meeting and integrating the
				team members’ homework together to handout). Our manuscript “A Survey on Cauchy-Goursat Theorem”was accepted by the
				fourth IEAS-20 conference for oral presentation (Paper ID: 12-IEAS20-109). Final grade for the projects is 95 out of 100.
			</li>
		</ul>
	</ul>
	
	<p class="title1">WORK EXPERIENCE</p>
	<ul class="item1">
		<li><i>04/2020-Now:</i> <strong>Uforse Education Group Inc.</strong></li>
		<ul class="item2">
			<li><strong>Job Nature: Contractor</strong></li>
			<li><strong>Job Duties:</strong></li>
				<ul class="item3">
					<li>Assisted the head of department in mathematics program;</li>
					<li>Completed new teaching materials covered in post-secondary high school, including pre-learn courses for universities;</li>
					<li>Taught university pre-learn Calculus course (MAT137: Calculus with Proofs)</li>
					<li>Accepted new employee training as a new teaching assistant and instructor in mathematics;</li>
					<li>Helped customers who were new college students to do their college’s study plan.</li>
				</ul>
			<li>
				<strong>Achievements:</strong> Although the salaries are not high, I still deeply devoted into the job. I got a sense of fulfillment when I taught
				students the knowledge I learned and mastered. Also It is my responsibility that I force myself to do my best since now I am the
				teacher and I must be responsible to the company, to the student and also to myself. Taking a part-time job provides me a
				necessary transaction between studying and work-studying.
			</li>
		</ul>
	</ul>
	
	<p class="title1">HONORS AND AWARDS</p>
	<ul class="item1">
		<li>Provincial-level</li>
			<ul class="item2">
				<li><i>October/2015:</i> Winner of Northeast China BP Debate Competition (high school level)</li>
			</ul>
		<li>School-level</li>
			<ul class="item2">
				<li><i>April/2017:</i> Academic excellence award of 2016-2017 in Taie International Institute</li>
			</ul>
	</ul>
	
	<p class="title1">EXTRACURRICULAR ACTIVITIES</p>
	<ul class="item_none">
		<li>Calligraphy (longest, at least 7 years)</li>
		<li>Swimming, Badminton, Boxing</li>
		<li>Puzzles (Sudoku, Rubik’s Cube, lubansuo, etc.)</li>
		<li>RTS Gaming (StarCraft II),</li>
	</ul>
	
	<p class="title1">ENGLISH PROFICIENCY</p>
	<ul class="item1">
		<li>Toefl iBT Score: 99/120 (in 2015)</li>
		<li>GRE General Test: VR: 144, QR: 167, AW: 4.0</li>
	</ul>	
	
	<p class="title1">OTHER SKILL INFORMATION</p>
	<ul class="item1">
		<li>Computer level: Python (basic), Excel (intermediate), R/R Studio (Intermediate)</li>
		<li>Mandarin level: First-language</li>
	</ul>	
	
	
	
	
	
	
	
	
	<!--
	<p class="title1">RESEARCH EXPERIENCE</p>
	<ul class="item1">
		<li>a</li>
		<ul class="item2">
			<li>b</li>
				<ul class="item3">
					<li>c</li>
				</ul>
		</ul>
	</ul>
	-->
	
</body>
